* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.blue {
    background-color: #1f2937;
    color: white;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    padding: 20px 0;
}

.flex {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.nav--list {
    list-style: none;
    display: flex;
}

.nav--item {
    margin-left: 20px;
}